<!DOCTYPE html>
<html  
  id="ng-app" 
  ng-app="{% block page_mod %}app.base{% endblock %}"
  xmlns:fb="http://ogp.me/ns/fb#"
  prefix="og: http://ogp.me/ns#">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>{% block page_title %}{% endblock %}</title>
  <meta name="description" content="{% block page_desc %}{% endblock %}">
  <meta name="viewport" content="initial-scale=1.0">

  {% block page_meta %}{% endblock %}

  {% comment %}
  You might want to include these:

  <!--[if lt IE 9]>
  <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <script src="{% static 'djbase/js/polyfill.js' %}"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/json2/20121008/json2.min.js"></script>  
  {% endcomment %}

  {% block page_head_epilog %}{% endblock %}
</head>
<!--[if lt IE 7 ]> <body class="ie6 ie10-and-below ie9-and-below ie8-and-below ie7-and-below"> <![endif]-->
<!--[if IE 7 ]> <body class="ie7 ie10-and-below ie9-and-below ie8-and-below ie7-and-below"> <![endif]-->
<!--[if IE 8 ]> <body class="ie8 ie10-and-below ie9-and-below ie8-and-below"> <![endif]-->
<!--[if IE 9 ]> <body class="ie9 ie10-and-below ie9-and-below"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><body><!--<![endif]-->
  <div id="fb-root"></div>

  {% block page_contents %}{% endblock %}
        
  {% block page_body_epilog %}{% endblock %}

  <!--[if lte IE 8 ]>
  <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
  <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
  <![endif]-->
</body>
</html>
